# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/
Demo/.vscode/

# Web Api Files
/WebApi/bin
/WebApi/obj
/WebApi/packages
/WebApi/wwwroot
/WebApi/publish
