<div class="login-container">
  <h3>Sign In</h3>
  <mat-form-field>
    <input
      matInput
      placeholder="Enter your username"
      [formControl]="user.username"
      required
    />
    <mat-error *ngIf="user.username.invalid">{{
      getInvalidUsernameMessage()
    }}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input
      type="password"
      matInput
      placeholder="Enter your password"
      [formControl]="user.password"
      required
    />
    <mat-error *ngIf="user.password.invalid">{{
      getInvalidPasswordMessage()
    }}</mat-error>
  </mat-form-field>
  <button
    mat-raised-button
    class="login-button"
    color="primary"
    [disabled]="user.username.invalid || user.password.invalid"
    (click)="userLogin()"
  >
    Login
  </button>
  <mat-error style="margin-top: 20px;" *ngIf="!isValidUser"
    >Incorrect username or password</mat-error
  >
</div>
